* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(62, 137, 172);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link {
    border: 2px solid rgb(124, 98, 10);
    border-radius: 7px;
    background-color: lavender;
    color: rgb(120, 133, 48);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 50px 10px;
}

.link:hover {
    border-color: lavender;
    background-color: rgb(168, 238, 195);
    color: white;
}

.link--disable {
    opacity: 0.5;
    border: 2px solid grey;
    background-color: lightgrey;
    color: grey;
}

.link--disable:hover {
    border-color: lightgrey;
    background-color: grey;
}