.container {
    background-color: burlywood;
    display: flex;
    flex-direction: row;

}
.link {
    text-decoration: none;
    color: rebeccapurple;
    background-color: aquamarine;
    padding: 12px;
    margin:25px;
    border: solid 1px brown;
    border-radius: 25%;
    
}

.desactivado {
    opacity: 0.2;
}