.button1, .button2 {
    background-color: rgb(100, 198, 237);
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.button--fuchsia {
    background-color: rgb(236, 12, 199);
}