body {
    margin-top: 50px;
    margin-bottom: 50px;

}
section {
    margin: 50px;
}
.container {
 background-color: rgb(204, 196, 196);
}

.item {
    padding-top: 25px;
    background: aqua;
    text-align:center;
    font-size: 36px;
}
.container {
    width: 50%; 
    display: flex;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;

}

.item {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 5px solid #666;
}


/*EJERCICIO 3*/
nav {
    height: 100px;
    border: solid rgb(243, 168, 224);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.botones {

    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background: #fafafa;
}
    /*display: flex on the parent tells the parent to adopt the CSS flexbox model
align-items: stretch tells the parent that its children should stretch to the full height of the row. This is the default value of the property.
justify-content: space-between is the magic here — it instructs the parent to distribute remaining space left after laying out the children between them.
On the children:

flex: 0 1 auto on the children tells them that:
flex-grow: 0: Do no grow, otherwise they will fill up the parent
flex-shrink: 1: Shrink when necessary, to prevent overflowing (you can turn this off by setting to 0.
flex-basis: auto: Widths of children element are calculated automatically based on their content. If you want fixed, equal width children element, simply set it to 100%.
You can adjust the padding to the <li> element as of when you see please.
    */

/*EJERCICIO 4*/
.container-news {
  display: flex;
  flex-wrap: wrap;
}
.news {
    width: 50%;
    overflow: hidden;
}
.news-destacada {
    order: -1;
    width: 100%;
}

/*EJERCICIO 5*/

header {
display: flex;
background-color: brown;
justify-content: start;
height: 50px;
}
main {
display: flex;
background-color:cyan;
justify-content: start;
height: 100vh;
}
footer {
display: flex;
background-color:darkorchid;
justify-content: start;
height: 50px;
}
/*EJERCICIO 6*/
.cabecera{
    display: flex;
    background-color: rgb(241, 13, 13);
    justify-content: center;
    height: 50px;
    align-content: center;
    justify-content: center;
}
.centro {
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 95, 187);
    justify-content: center;
    height: 100px;
    max-width: 960px;
}
.parrafo{
    display: flex;
    box-sizing: border-box;
    background-color: rgb(223, 171, 28);
    justify-content: center;
    height: 100%;
}
.izquierda{
    display: flex;
    box-sizing: border-box;
    order: -1;
    background-color: rgb(100, 223, 28);
    justify-content: center;
    height: 100%;
}
.derecha {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(212, 77, 44);
    justify-content: center;
    height: 100%;
}
.final {
    display: flex;
    background-color: rgb(80, 20, 219);
    justify-content: center;
    height: 50px;
}
