.fondo {
    display: flex;
    flex-direction: column;
    width: 100%vh;
    height: 100vh;
    background-color: #ffcc00;
}
.face-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40vh;
    margin-bottom: 50px;
}
.face {
    font-size: 100px;
    font-weight: bold;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.feeling {
    background: white;
    border: none;  
    border-radius: 7px;
    font-size: 16px;
    height: 30px;
    width: 100px;
}
.update {
    background: rgb(72, 122, 187);
    color: white;
    margin-left: 7px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 100px;
}
.hidden {
    display: none;
}
.correctYellow{
    background-color:#ffcc00 ;
}
.chileanOrange{
    background-color:#ff9900;
}