
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
}
.contenido-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.logo {
    height: 30px;
    margin: 15px 20px;
    overflow: hidden;
    line-height: 0;

}
.menu-icon {
    height: 30px;
    margin: 15px 20px;
    overflow: hidden;
    line-height: 0;
}



.hero {
    box-sizing: border-box;
    background-color: rgb(53, 134, 255);
    width: 100%;
    height: 50vh;
    display: flex;

}
.contenido-hero {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}
h1 {
    font-weight: bold;
    color: white;

}
.millones-canciones {
    color: white;

}
small {
    font-size: 5pt;
    color: white;


}
button {
    background-color: #4CAF50;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-radius: 40px;
  }
.ventajas {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.porque {
    width: 85%;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;

}
.ventajas-contenido {
   display: flex;
   box-sizing: border-box;
   width: 100%;
   height: 100px;
   margin-bottom: 50px;
   margin-right: 20px;
}
.imagen-ventajas {
    height: 60px;
    margin: 15px 20px;
    overflow: hidden;
    line-height: 0;
}
.texto-ventajas {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-evenly;
    font-size: 10pt;
}
p {
    color: black;
}
.footer
{   display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    justify-content: space-between;

}
.cookies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    color: white;
    font-size: 5pt;
    list-style: none;
    padding-left: 5%;

 
}
.corporate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    color: white;
    font-size: 5pt;
    list-style: none;
    padding-right: 5%;

}